<!-- <div>
    <button mat-raised-button (click)="addBookFormOpen =! addBookFormOpen" color="primary">Add New Book</button>
  </div> -->
  <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           *ngFor="let comment of comments; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{comment.id}}
          </mat-panel-title>
          <mat-panel-description>
              {{comment?.name}} - {{comment?.email}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <button mat-raised-button (click)="editstate[i]=!editstate[i]" color="primary">Edit</button> -->
        <!-- <bookform
         [hidden] = "!editstate[i]"
         [title] = "book.title"
         [author] = "book.author"
         [id] = "book.id"
         [formType] = "'Update book'"
         (update) = "update($event); editstate[i] = !editstate[i]"
         (closeEdit) = "editstate[i] = !editstate[i]"
        > -->
      <!-- </bookform> -->
        <p>{{comment?.body}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  <!-- <div>
    <button mat-raised-button (click)="nextPage()" color="primary">Next page</button>
    <button mat-raised-button (click)="prevPage()" color="primary">Prev page</button>
  </div> -->
  
  