<table mat-table [dataSource]="savedPosts" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>  ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title</th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>
    <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef> Body</th>
        <td mat-cell *matCellDef="let element"> 
           {{element.body}}
         </td>
      </ng-container>
      <ng-container matColumnDef="likes">
        <th mat-header-cell *matHeaderCellDef>Likes</th>
        <td mat-cell *matCellDef="let element"> {{!!element.likes ? element.likes : 0}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
            <mat-icon aria-hidden="false" (click)="deletePost(element.postId)" aria-label="Example delete icon">delete</mat-icon>
            <mat-icon svgIcon="thumbs-up" (click)="updateLikes(element.postId,element.likes)" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>