
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor="let post of blogPosts; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.id}}
        </mat-panel-title>
        <mat-panel-description>
            {{post.title}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
      <button mat-raised-button (click)="savePost({id:post.id,title:post.title,body:post.body})" color="primary">Save</button>
      <button mat-raised-button (click)="postComments(post.id)" color="accent">Comments</button>
    </mat-expansion-panel>
  </mat-accordion>
<!-- <div>
  <button mat-raised-button (click)="nextPage()" color="primary">Next page</button>
  <button mat-raised-button (click)="prevPage()" color="primary">Prev page</button>
</div> -->

